@model MvcWebRole.Models.Subscription

@{
    ViewBag.Title = "Subscription Re-Confirmation";
}

<h2>Successfully Confirmed Again!</h2>

<p>
    You are attempting to re-subscribe <code>@Html.DisplayFor(model => model.ApplicationName)</code>'s Log "<code>@Html.DisplayFor(model => model.LogName)</code>" to the logging service with the same email that it was initially subscribed with.
</p>

<p>
    Another verification email (currently number @Html.DisplayFor(model => model.VerificationsSent)) will be sent to <code>@Html.DisplayFor(model => model.EmailAddress)</code> soon.
</p>

<p>
    We apologize if we lost the verification on our end.  Note however that we will not send any more than 3 verification emails, so please try to look out for this email.
</p>

<p>
    With each subscription comes an API Key, which functions as a password for all actions involving an application-specific log.  Thus for all requests requiring authentication (such as adding a snapshot to the logging service, editing a snapshot, or unsubscribing), this unique key <strong><em>MUST</em></strong> be provided.
    If you lose this API Key, there is no way currently for you to recover or reset it.
</p>

<p>
    This API Key will be present in the verification email as well as displayed in the confirmation link.
</p>

<p>
    @Html.ActionLink("Return to Subscribers", "Index")
</p>
